html {
  color: white;
  text-align: center;
  font-family: sans-serif;
  height: 100%;
}
h1 {
  font-size: 40px;
}
#top {
  border: 2px solid red;
  height: 25%;
}
#membership {
  margin-bottom: 5px;
}

body {
  z-index: 50;
  background-image: url("zgeTuV.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;

  .backgrounddiv {
    z-index: 100;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(0, 0, 0, 0.8) 80%
    );
  }
}
